{% extends 'base.html' %}
{% load static %}
{% block title %}About - Movies Store{% endblock title %}

{% block content %}
<section class="about-section">
  <div class="container about-container">
    <div class="about-text">
      <h2>About</h2>
      <p>
        At Movies Store, we offer a vast digital library that spans across genres,
        ensuring there's something for every movie lover. Browse our extensive
        collection of films, including the latest releases, timeless classics,
        and hidden gems. With just a few clicks, you can rent or purchase your
        favorite titles and instantly stream them in high-definition quality.
      </p>

      <p>
        Discover the convenience of our digital platform, where you have the
        flexibility to watch movies on your preferred device, whether it’s a
        smart TV, tablet, or smartphone. With our intuitive search and
        recommendation features, finding your next movie night pick has never
        been easier.
      </p>
    </div>

    <div class="about-image">
      <img src="{% static 'img/about.jpg' %}" alt="About Movies Store" />
    </div>
  </div>
</section>
{% endblock content %}
